<li class="nav-item">
    <a data-toggle="tab" class="nav-link nav-item"  href="#Article-{{this._id}}">Article</a>
</li>
<li class="nav-item">
    <a data-toggle="tab" class="nav-link nav-item active" id="tab-{{this._id}}" href="#comment-{{this._id}}">Comment</a>
</li>