<div class="p-4">
  <div class="row">
    <div class="col-lg-4 offset-lg-1 d-flex align-items-center">  
      <div class="card-block">
        <h4 class="display-3">Qu4tro</h4>
        <div class="card-block">
          <p class="card-text">Qu4tro (Quatro) is a quiz app that you control.</p>
          <p class="card-text">Create your quizzes and surveys here and use our api for use in your applications.</p>
        </div>
        <button type="button" class="btn btn-primary mt-4 loggedOutOnly" data-toggle="modal" data-target="#loginModal">
          Try it Today!
        </button>

      </div>
    </div>
    <div class="col-lg-6  d-flex align-items-center">
        <img class="card-img" src="https://sg.theasianparent.com/wp-content/blogs.dir/1/files/5-popular-study-myths-debunked/studying5.jpg" alt="quiz taking">
    </div>
  </div>
</div>

<div class="p-4 bg-warning">
  <div class="row">
    <div class="col-lg-4 offset-lg-1  d-flex align-items-center">
        <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Font_Q.svg/2000px-Font_Q.svg.png" alt="create quiz image">
    </div>    
    <div class="col-lg-6  offset-lg-1 d-flex align-items-center">  
      <div class="card-block">
        <h4 class="display-4">Have Your Quizzes Taken Here</h4>
        <div class="card-block">
          <p class="card-text">Web development not your cup of tea?</p>
          <p class="card-text">Have your quizzes/surveys taken here. The results are held here for you.</p>
        </div>
        <a href="/quiz" class="btn btn-danger mt-4 center-block">Take your quiz today</a>
      </div>
    </div>
  </div>
</div>

<div class="p-4">
  <div class="row">   
    <div class="col-lg-6  offset-lg-1 d-flex align-items-center">  
      <div class="card-block">
        <h4 class="display-4">Utilize our API with your content</h4>
        <div class="card-block">
          <p class="card-text">Download your content with our API</p>
          <p class="card-text">Future development will include downloadable HTML for cut and paste into your applications but in the meantime, showcase your web development skills on your site</p>
        </div>
        <a href="/apiInfo" class="btn btn-success mt-4 center-block">More Info</a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 d-flex align-items-center">
        <img class="card-img" src="http://softbaseinc.com/welcome/img/csd4.png" alt="settings image">
    </div>     
  </div>
</div>
