<!-- *** main content *** -->
    <div class="container">
    <div class="d-flex justify-content-end align-items-center">


                {{#if successMessage}}
                    <h4>{{successMessage}}</h2>
                {{else}}
                    <h4>{{errorMessage}}</h2>
                {{/if}}

            <a class="btn btn-danger h4 ml-4" href="/scrape">Get More News</a>
    </div>
    </div>
    <div id="allArticlesWrapper" class="d-flex justify-content-center flex-wrap"></div>
  
  <div class="modal fade" id="articalModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="articleTitle">Modal Header</h4>            
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id="articalContent">
          <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script src="/assets/js/app.js"></script>

