<!-- *** main content *** -->
    {{!-- {{#if successMessage}}
        <h3>{{successMessage}}</h3> --}}
        <div id="allArticlesWrapper" class="d-flex justify-content-center flex-wrap"></div>
    {{!-- {{else}}
        <h3>{{errorMessage}}</h3>
    {{/if}} --}}


<script src="/assets/js/app.js"></script>

